<!DOCTYPE html>
<html lang="en" id="home">
<head >
    <meta charset="UTF-8">
    <title>Home_page</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">
</head>
<body >
    <img src="{{ url_for('static',filename='image/home.jpg')}}">
    <div class="topnav">
        <a class="active" href="/" >Home</a>
        <a href="/image">Classify</a>
	<h1>AI-powered Nutrition Analyzer for Fitness Enthusiasts</h1>
    </div>
    <div id="div_cont">
        <div class="content">
            <p>Food is essential for human life and <br>has been the concern of many
                healthcare <br>conventions. Nowadays new dietary assessment<br> and
                nutrition analysis tools enable more opportunities to help people
                understand their daily eating habits, exploring nutrition patterns and
                maintain a healthy diet. Nutritional analysis is the process of
                determining the nutritional content of food. It is a vital part of
                analytical chemistry that provides information about the chemical
                composition, processing, quality control and contamination of food. It
                ensures compliance with trade and food laws.
            </p>
        </div>
        <a href="/image"><button>Click To Start</button></a>
    </div>

</body>
</html>