body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}
img{
    pointer-events:none;
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: -1;
}
.topnav{
    overflow:hidden;
    background-color:#333;
    position:relative;
}

.topnav a {
    float:left;
    color: #f2f2f2;
    text-align:center;
    padding: 16.5px 16px;
    text-decoration:none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color:black;
}

.topnav a.active {
    background-color: #04AA6D;
    color:white;
}
.topnav h1 {
    font-size:1.5em;
    margin-left:30%;
    color:#0fca0f;
    margin-top:10px;
}
.content{
    width:800px;
    padding: 10px;
    font-size:1.6em;
    color:#00ff40;
}

#div_cont{
    margin-top:3%;
    margin-left:2%;
    display: inline-block;
    overflow:hidden;
    position:absolute;
    width:100%
}


button{
    font-size:4em;
    background:#0fca0f;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 3em;
    cursor: pointer;
}
